body {
  background-color: antiquewhite;
  margin: 0;
  padding: 12px;
}

footer {
  margin: 8px 0;
  padding: 12px 0 12px 12px;
}

.flag-image {
}

.answer-box {
}

.correct-answer {
  background-color: #b8f28b;
}

.correct-answer--button {
  background-color: #78c800;
}

.incorrect-answer--button {
  background-color: #ff4b4b;
}

.incorrect-answer {
  background-color: #ffdfe0;
}
