body {
  background-color: antiquewhite;
  margin: 0;
  padding: 12px;
}

footer {
  margin: 8px 0;
  padding: 12px 0 12px 12px;
}

.flag-card {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 35em;
}

.flag-card--image {
  max-width: 100%;
  border: solid black 4px;
}

.answer-area {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

.correct-answer {
  background-color: #b8f28b;
}

.correct-answer--button {
  background-color: #78c800;
}

.incorrect-answer--button {
  background-color: #ff4b4b;
}

.incorrect-answer {
  background-color: #ffdfe0;
}
